.header_background-secciones {
  background: rgba(92, 146, 90, 0.685);
  padding: 0px;
  font-family: "Raleway", sans-serif;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(92, 119, 88, 0.233);
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.582);
}
header .navbar-toggler {
  padding: 2px;
  border: 1px solid transparent;
}
header .navbar-expand-lg .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
  padding: 15px 0 0 0;
  font-family: "Raleway", sans-serif;
}
header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: rgb(159, 182, 161);
}
@media (min-width: 990px) {
  header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 12px 0 12px;
    margin: 0 10px 0 0;
  }
}
header .navbar-expand-lg .navbar-brand {
  color: white;
  font-size: 20px;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
header .navbar-expand-lg .navbar-brand:hover {
  color: rgb(159, 182, 161);
}
@media (min-width: 1200px) {
  header .navbar-expand-lg .navbar-brand {
    padding: 0 0 0 35px;
    font-size: 25px;
  }
}

footer {
  display: grid;
  margin: 0px 0 10px 0;
  background: rgba(110, 161, 97, 0.473);
  width: 100%;
  padding: 8px;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  font-family: "Raleway", sans-serif;
}
footer h4 {
  display: grid;
  font-size: 12px;
  margin: 0 0 5px 30px;
  width: 100px;
  font-weight: 500;
}
footer ul {
  display: grid;
  font-size: 12px;
  font-style: italic;
}
footer.footer_contactos {
  display: grid;
  margin: 20px 0 0 0;
  align-self: center;
}
footer.footer_redessociales {
  display: grid;
  justify-self: start;
}
footer img {
  width: 30%;
  position: relative;
  left: 65px;
  top: 10px;
}
@media (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px 20px 20px 80px;
    font-weight: 300;
  }
  footer h4 {
    display: flex;
    font-size: 18px;
    width: 95%;
    font-weight: bolder;
    font-style: italic;
  }
  footer ul {
    display: inline-block;
    font-size: 16px;
  }
  footer.footer_contactos {
    align-self: flex-start;
    margin: 0 0 0 60px;
  }
  footer.footer_redessociales {
    display: inline-block;
    margin: 0 0 0 70px;
  }
  footer img {
    width: 25%;
    position: relative;
    left: 150px;
    top: 10px;
  }
}
footer.footer_espaciado-elementos {
  margin: 0 30px 0 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  text-decoration: none;
}

hr {
  opacity: 1;
}

#pagina_index {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 26%, rgb(237, 250, 230) 48%, rgb(237, 250, 230) 50%, rgb(255, 255, 255) 70%);
}

#pagina_rooms {
  background: rgb(204, 234, 186);
  background: linear-gradient(180deg, rgba(204, 234, 186, 0.9220063025) 1%, rgb(255, 255, 255) 17%, rgb(255, 255, 255) 75%, rgba(199, 232, 179, 0.9108018207) 81%);
}

#body_service_background {
  background: rgb(199, 232, 179);
  background: linear-gradient(180deg, rgba(199, 232, 179, 0.6825105042) 3%, rgba(255, 255, 255, 0.7805497199) 8%, rgba(255, 255, 255, 0.7861519608) 83%, rgba(199, 232, 179, 0.5256477591) 87%);
}

#body_reservations_background {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 8%, rgba(204, 234, 186, 0.7329306723) 23%, rgba(199, 232, 179, 0.5172443978) 26%, rgb(255, 255, 255) 34%);
}

#body_contactus_background {
  background: rgb(204, 234, 186);
  background: linear-gradient(180deg, rgba(204, 234, 186, 0.9220063025) 4%, rgb(255, 255, 255) 23%, rgb(255, 255, 255) 67%, rgba(199, 232, 179, 0.9108018207) 81%);
}

hr {
  border: 1px solid;
}

/* Colores */
/*-------------------INDEX PORTADA Y RESERVAS MAIN MOBILE Y DESKTOP----------------------*/
.sec-main__fotodeportada {
  background-image: url(../img/exterior.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

.sec-main__fotodeportada h2 {
  text-align: center;
  padding-top: 9rem;
  font-size: 30px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.sec-main__reservas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 10px;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 30px;
  background-color: rgba(163, 233, 145, 0.527);
  margin: 0 2rem 0 2rem;
  padding: 6px 0 6px 0;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
}

.sec-main__reservas input {
  margin: 0 10px 0 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: black;
}

.sec-main__reservas input:hover {
  border: 1px solid rgba(65, 94, 58, 0.788);
}

.reservas__botonubicacion {
  display: flex;
  justify-content: center;
  font-size: 11px;
  align-items: center;
}

.gridbotonreservar {
  display: grid;
  grid-column: span 2;
  margin: 4px 0 0 0;
}

.botonreservarubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 0 0;
}

.sec-main__reservas a {
  padding: 4px 60px 4px 60px;
  border-radius: 4px;
  border: 1px solid rgb(228, 227, 227);
  background-color: #ffffff;
  font-size: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
}

.sec-main__reservas a:hover {
  color: rgba(110, 158, 98, 0.884);
  border: 1px solid rgba(65, 94, 58, 0.788);
}

@media (min-width: 1200px) {
  .sec-main__fotodeportada {
    height: 96vh;
  }
  .sec-main__fotodeportada h2 {
    padding-top: 22rem;
    font-size: 70px;
    font-style: italic;
  }
  .sec-main__reservas {
    display: flex;
    padding: 25px 0 25px 0;
    justify-content: space-around;
    align-items: center;
    bottom: 32px;
    margin: 0 1.5rem 0 1.5rem;
  }
  .sec-main__reservas input {
    margin: 0 35px 0 25px;
    padding: 10px 70px 10px 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 15px;
  }
  .reservas__botonubicacion {
    font-size: 15px;
    margin: 3px 0 0 80px;
  }
  .gridbotonreservar {
    display: flex;
  }
  .botonreservarubicacion {
    margin: 0 80px 0 0;
  }
  .sec-main__reservas a {
    padding: 10px 90px 10px 90px;
    border-radius: 4px;
    border: 1px solid rgb(228, 227, 227);
    background-color: #ffffff;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .sec-main__reservas a:hover {
    color: rgba(101, 129, 85, 0.8823529412);
  }
}
@media (min-width: 1800px) {
  .sec-main__reservas {
    padding: 25px 0 25px 0;
    bottom: 32px;
    margin: 0 8rem 0 8rem;
  }
  .sec-main__reservas label {
    font-size: 17px;
  }
  .sec-main__reservas input {
    font-size: 17px;
    padding: 10px 100px 10px 100px;
  }
  .sec-main__reservas a {
    font-size: 17px;
    padding: 10px 100px 10px 100px;
  }
}
/*-------------------------ROOM MAIN INDEX MOBILE Y DESKTOP----------------------------*/
.titulo-secundario-room h3 {
  display: block;
  margin: 20px 0 0 25px;
  font-style: italic;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.titulo-secundario-room hr {
  display: block;
  margin: 10px 90px 20px 15px;
  color: rgba(97, 136, 87, 0.466);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.seccionroomsdesktop {
  display: none;
}

.carousel-indicators .active {
  background-color: #d5ffbc;
}

@media (min-width: 1200px) {
  .titulo-secundario-room h3 {
    font-size: 35px;
    margin: 50px 40px 5px 40px;
    text-align: center;
  }
  .titulo-secundario-room hr {
    display: block;
    margin: 10px 90px 20px 90px;
  }
  .seccionrooms {
    display: none;
  }
  .seccionroomsdesktop {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 60px 0 0 0;
  }
  .rooms-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  .rooms-details img {
    height: 230px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
  }
}
@media (min-width: 1600px) {
  .rooms-details img {
    height: 300px;
    width: 450px;
  }
}
/*------------------SERVICES MAIN MOBILE Y DESKTOP-------------------*/
.titulo-secunadario-service h3 {
  display: block;
  text-align: center;
  margin: 80px 0 0 0;
  font-style: italic;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  padding: 20px 0 0 0;
}

.titulo-secunadario-service {
  display: block;
  text-align: center;
  margin: 9px 0 0px 0;
  color: black;
  background-color: rgba(110, 161, 97, 0.199);
}

.contenedorserv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 45px;
  background-color: rgba(110, 161, 97, 0.199);
  padding: 30px 0 50px 0;
  margin: 0 0 90px 0;
}

.imgserimg {
  display: grid;
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.posimg {
  display: grid;
  justify-items: end;
}

@media (min-width: 1200px) {
  .titulo-secunadario-service h3 {
    margin: 130px 0 0 0;
    font-size: 35px;
    padding: 50px 0 0 0;
  }
  #servhr1 {
    display: none;
  }
  .contenedorserv {
    row-gap: 40px;
    margin: 0 0 0 0;
    column-gap: 150px;
    background-color: rgba(110, 161, 97, 0.199);
    padding: 50px 0 70px 0;
  }
  .imgserimg {
    max-width: 400px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  }
}
/*---------------UBICACION MAIN MOBILE Y DESKTOP----------------------*/
.titulo-secundario-ubicacion h3 {
  display: block;
  border: 1px solid transparent;
  padding: 10px 0 6px 0;
  background-color: rgba(110, 161, 97, 0.473);
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  font-style: italic;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 1200px) {
  .titulo-secundario-ubicacion {
    display: flex;
    justify-content: center;
    margin: 150px 0 0 0;
  }
  .contenedor-h3-ubicacion {
    width: 60%;
  }
  .titulo-secundario-ubicacion h3 {
    border: 1px solid transparent;
    padding: 50px 0 50px 0;
    width: 100%;
    background-color: rgba(110, 161, 97, 0.473);
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    line-height: 5;
    margin: 0 30rem 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
  }
  .titulo-secundario-ubicacion iframe {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    position: relative;
    width: 550px;
    height: 250px;
    right: 5px;
    bottom: 8px;
  }
}
/* ----------------REVIEWS MAIN MOBILE Y DESKTOP----------------------*/
#hrrev {
  display: block;
  margin: 90px 40px 0 40px;
  text-align: center;
  color: rgba(97, 136, 87, 0.466);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.reviews h3 {
  display: none;
  font-family: "Raleway", sans-serif;
}

.reviews h4 {
  display: block;
  text-align: center;
  position: relative;
  bottom: 26px;
  font-size: 40px;
  color: rgba(121, 160, 98, 0.8784313725);
}

.flexreview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rev {
  border: 1px solid rgb(129, 129, 129);
  padding: 1rem;
  margin: 30px 50px 40px 50px;
  border-radius: 5px;
  max-width: 320px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 340px;
  background-color: rgba(255, 255, 255, 0.4235294118);
}

.rev h5 {
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgb(37, 37, 37);
  font-style: italic;
  padding: 20px 0 0 0;
}

.rev p {
  font-size: 13px;
  padding: 8px 10px 0 10px;
  text-align: center;
}

#pstar {
  text-align: center;
  font-size: 30px;
  color: #a7ca93;
  padding: 0;
}

@media (min-width: 1200px) {
  .reviews h3 {
    display: block;
    text-align: center;
    margin: 140px 0 0 0;
    font-size: 35px;
    font-weight: 300;
  }
  .reviews h4 {
    display: none;
  }
  .flexreview {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rev {
    padding: 2rem;
    max-width: 450px;
    height: 410px;
    margin: 60px 50px 80px 50px;
  }
  .rev h5 {
    display: block;
    text-align: center;
    font-size: 22px;
    color: rgb(37, 37, 37);
    font-style: italic;
    padding: 20px 0 0 0;
  }
  #pstar {
    text-align: center;
    font-size: 50px;
    color: #a7ca93;
    padding: 0;
  }
  .rev p {
    font-size: 16px;
    padding: 8px 10px 0 10px;
    text-align: center;
  }
}
/*-------------------ABOUT US MAIN MOBILE Y DESKTOP--------------------*/
.titulo-secundario-aboutus h3 {
  display: block;
  margin: 20px 0 0 25px;
  font-style: italic;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.titulo-secundario-aboutus hr {
  display: block;
  margin: 7px 90px 10px 15px;
  color: rgba(97, 136, 87, 0.466);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.aboutusconteiner {
  display: block;
  background-color: rgba(110, 161, 97, 0.473);
  border: 1px solid rgba(198, 198, 198, 0);
  padding: 25px;
  margin: 50px 0 0 0;
  height: 150px;
}

.aboutusconteiner p {
  display: none;
}

.video-aboutus iframe {
  position: relative;
  bottom: 200px;
  padding: 30px;
}

#abouthr2 {
  display: block;
  margin: -160px 5px 0 110px;
  color: transparent;
  box-shadow: none;
}

@media (min-width: 1200px) {
  .aboutusconteiner {
    padding: 90px;
    margin: 150px 0 0 0;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }
  .aboutusconteiner p {
    display: block;
    text-align: right;
    font-size: 25px;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    color: white;
    width: 90%;
  }
  .titulo-secundario-aboutus h3 {
    margin: 100px 0 0 70px;
    font-size: 35px;
  }
  .video-aboutus {
    width: 50%;
  }
  .video-aboutus iframe {
    position: relative;
    bottom: 320px;
    padding: 30px;
    left: 90px;
    height: 400px;
  }
  #abouthr2 {
    margin: -300px 5px 150px 110px;
    color: rgba(97, 136, 87, 0.466);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 1800px) {
  .video-aboutus {
    width: 40%;
  }
  .video-aboutus iframe {
    position: relative;
    bottom: 320px;
    padding: 30px;
    left: 300px;
    height: 400px;
  }
  .aboutusconteiner p {
    width: 80%;
  }
  .titulo-secundario-aboutus h3 {
    margin: 100px 0 0 100px;
  }
}
/* Variables page room*/
/*-------------------VERSION MOBILE Y DESKTOP "PAGE ROOM" MAIN--------------------*/
.titulo-principa-opciones-de-habitacion h2 {
  display: block;
  text-align: center;
  font-style: italic;
  margin: 150px 30px 15px 30px;
  color: #829c72;
  font-size: 25px;
  border-bottom: 2px solid #829c72;
  border-radius: 5px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  padding: 0 0 5px 0;
  font-family: "Raleway", sans-serif;
}

.input_selectorhabitacion {
  display: block;
  text-align: center;
  margin: 30px 0 0 0;
}

#input_selectordetalles {
  padding: 7px 30px 7px 30px;
  text-align: center;
  color: #000;
  border-radius: 2px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  background-color: white;
  color: black;
}

.input_opciones-ubicacion {
  text-align: start;
}

.contenedor_imagenes-room {
  text-align: center;
  border: 1px solid transparent;
  padding: 30px 0 30px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  border-radius: 4px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 11%, rgb(208, 226, 201) 46%, rgb(208, 226, 201) 53%, rgb(255, 255, 255) 84%); /* Usamos las variables para los colores de fondo */
}

.contenedor_imagenes-room img {
  width: 300px;
  height: 216px;
  padding: 4px;
  border: 1px solid transparent;
  margin: 10px 0 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagenes-room_detalles2 {
  display: none;
}

@media (min-width: 1200px) {
  .titulo-principa-opciones-de-habitacion h2 {
    margin: 150px 500px 0 500px;
    padding: 0 0 5px 0;
  }
  .input_selectorhabitacion {
    margin: 30px 0 0 0;
  }
  #input_selectordetalles {
    padding: 10px 35px 10px 35px;
  }
  .imagenes-room_detalles2 {
    display: inline-block;
    max-width: 300px;
    max-height: 216px;
    padding: 4px;
    border: 1px solid transparent;
    margin: 10px 0 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .contenedor_imagenes-room {
    width: 1000px;
  }
}
/* Variables */
/*-------------------VERSION MOBILE Y DESKTOP "PAGE SERVICES"----------------------*/
/*-------------------VERSION MOBILE Y DESKTOP TITULO PRINCIPAL PAGE SERVICES------------------*/
.titulo_principal {
  text-align: center;
  margin: 150px 0 0 0;
}

.titulo_principal h2 {
  font-size: 25px;
  font-style: italic;
  color: #829c72;
  border-bottom: 2px solid #829c72;
  border-radius: 5px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  margin: 40px 30px 15px 30px;
  padding: 0 0 5px 0;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 1200px) {
  .titulo_principal {
    margin: 150px 500px 0 500px;
    padding: 0 0 5px 0;
  }
}
@media (min-width: 1800px) {
  .titulo_principal hr {
    margin: 0 700px 60px 700px;
  }
}
/*-------------------CONTENIDO SECUNDARIO PAGE SERVICE: GYM VERSION MOBILE Y DESKTOP------------------*/
.contenido_secundario-gym {
  margin: 50px 0 0 0;
  background: rgba(255, 255, 255, 0.7805497199);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7805497199) 25%, rgba(199, 232, 179, 0.6825105042) 64%, rgba(199, 232, 179, 0.5256477591) 96%, rgba(255, 255, 255, 0.7861519608) 99%);
}

.contenido_secundario-gym h3 {
  text-align: center;
  background: rgba(110, 161, 97, 0.473);
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 6px;
  margin: 0 0 20px 0;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.contenido_secundario-gym img {
  width: 350px;
  height: 230px;
}

@media (min-width: 1200px) {
  .contenido_secundario-gym h3 {
    font-size: 25px;
    padding: 12px;
  }
  .contenido_secundario-gym img {
    width: 480px;
    height: 330px;
  }
}
@media (min-width: 1500px) {
  .contenido_secundario-gym img {
    width: 680px;
    height: 450px;
  }
}
/*------------CONTENIDO SECUNDARIO PAGE SERVICE: RESTAURANT VERSION MOBILE Y DESKTOP-------------*/
.contenido_secundario-restaurant h3 {
  text-align: center;
  background: rgba(110, 161, 97, 0.473);
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  margin: 90px 0 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 6px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.contenido_secundario-restaurant-primer-div {
  display: flex;
  background: rgba(110, 161, 97, 0.473);
  width: 100%;
  height: 55px;
  margin: 125px 0 0 0;
  padding: 10px;
}

.contenido_secundario-restaurant-primer-div img {
  width: 250px;
  height: 150px;
  position: relative;
  bottom: 105px;
  padding: 5px;
  background: rgba(118, 143, 103, 0.7254901961);
  border-radius: 10px;
}

.contenido_secundario-restaurant-primer-div a {
  border: 1px solid #ffffff;
  font-size: 10px;
  padding: 8px 5px 3px 5px;
  margin: 0 0 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-style: italic;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.contenido_secundario-restaurant-primer-div a:hover {
  background-color: rgba(94, 113, 82, 0.7254901961);
  color: white;
}

.contenido_secundario-restaurant-segundo-div {
  display: flex;
  background: rgba(110, 161, 97, 0.473);
  width: 100%;
  height: 60px;
  margin: 0 0 125px 0;
  padding: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.contenido_secundario-restaurant-segundo-div img {
  width: 150px;
  height: 130px;
  position: relative;
  bottom: 1px;
  margin: 0 0 0 25px;
  padding: 5px;
  background: rgba(118, 143, 103, 0.7254901961);
  border-radius: 10px;
}

#imagen_comida_desktop {
  display: none;
}

@media (min-width: 1200px) {
  .contenido_secundario-restaurant h3 {
    font-size: 25px;
    padding: 12px;
  }
  .contenido_secundario-restaurant-primer-div {
    height: 180px;
    margin: 150px 0 80px 0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .contenido_secundario-restaurant-primer-div img {
    width: 480px;
    height: 280px;
    bottom: 110px;
    left: 110px;
  }
  .contenido_secundario-restaurant-primer-div a {
    font-size: 18px;
    padding: 45px 20px 3px 20px;
    margin: 20px 0 20px 365px;
  }
  .contenido_secundario-restaurant-segundo-div {
    height: 80px;
    margin: 0;
    justify-content: space-evenly;
  }
  .contenido_secundario-restaurant-segundo-div img {
    width: 250px;
    height: 200px;
    margin: 0;
  }
  #imagen_comida_desktop {
    display: flex;
  }
}
@media (min-width: 1500px) {
  .contenido_secundario-restaurant-primer-div {
    margin: 270px 0 80px 0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .contenido_secundario-restaurant-primer-div img {
    left: 250px;
    width: 50%;
    height: 410px;
    bottom: 240px;
  }
  .contenido_secundario-restaurant-segundo-div img {
    width: 20%;
    height: 270px;
  }
}
@media (min-width: 1700px) {
  .contenido_secundario-restaurant-primer-div a {
    margin: 20px 0 20px 500px;
  }
}
/*-----------------CONTENIDO SECUNDARIO PAGE SERVICE: EVENTS VERSION MOBILE Y DESKTOP---------------*/
.contenido_secundario-events {
  background: rgba(255, 255, 255, 0.7805497199);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7805497199) 6%, rgba(199, 232, 179, 0.6825105042) 11%, rgba(199, 232, 179, 0.5256477591) 93%, rgba(255, 255, 255, 0.7861519608) 97%);
}

.contenido_secundario-events h3 {
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin: 150px 20px 20px 20px;
  font-size: 19px;
  font-style: italic;
  font-weight: 400;
  border-bottom: 2px solid rgba(118, 143, 103, 0.7254901961);
  border-radius: 10px;
  padding: 0 0 5px 0;
}

.contenido_secundario-events hr {
  display: none;
}

#hr_event_segundo {
  display: block;
  text-align: center;
  height: 5px;
  margin: 10px 10px 0 10px;
  background-color: rgba(118, 143, 103, 0.7254901961);
  color: rgba(118, 143, 103, 0.7254901961);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contenido_secundario-events img {
  width: 350px;
  height: 230px;
}

@media (min-width: 1200px) {
  .contenido_secundario-events img {
    width: 490px;
    height: 330px;
    margin: 30px 0 30px 0;
  }
  .contenido_secundario-events h3 {
    margin: 300px 400px 0 400px;
    font-size: 25px;
    text-align: center;
    border-bottom: none;
    position: relative;
    top: 35px;
    color: white;
  }
  .contenido_secundario-events hr {
    display: block;
    height: 30px;
    margin: 0 220px 10px 10px;
    background-color: rgba(118, 143, 103, 0.7254901961);
    color: rgba(118, 143, 103, 0.7254901961);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  #hr_event_segundo {
    margin: 10px 10px 0 220px;
    height: 30px;
  }
}
@media (min-width: 1500px) {
  .contenido_secundario-events img {
    width: 680px;
    height: 450px;
  }
}
/*------------CONTENIDO SECUNDARIO PAGE SERVICE: POOL VERSION MOBILE Y DESKTOP---------------*/
.contenido_secundario-ourpool h3 {
  text-align: center;
  margin: 50px 40px 0 40px;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  border-bottom: 2px solid rgba(118, 143, 103, 0.7254901961);
  border-radius: 10px;
  padding: 0 0 5px 0;
  font-family: "Raleway", sans-serif;
}

.contenido_secundario-ourpool-contenedor-imagenes {
  display: block;
  text-align: center;
  border: 1px solid rgba(116, 116, 116, 0.288);
  margin: 15px 15px 0 15px;
  padding: 15px 0 40px 0;
  background: rgba(118, 143, 103, 0.7254901961);
  background: radial-gradient(circle, rgba(118, 143, 103, 0.7254901961) 13%, rgba(255, 255, 255, 0.7861519608) 66%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.contenido_secundario-ourpool img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#contenido-imagenes-imagengrande {
  width: 320px;
  height: 230px;
  margin: 0 0 60px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .contenido_secundario-ourpool h3 {
    font-size: 25px;
    margin: 100px 400px 0 400px;
    border-bottom: 2px solid rgba(118, 143, 103, 0.7254901961);
    border-radius: 10px;
  }
  .contenido_secundario-ourpool img {
    width: 37%;
    height: 350px;
    margin: 40px 0 40px 40px;
  }
  #contenido-imagenes-imagengrande {
    width: 37%;
    height: 350px;
    margin: 40px 40px 40px 0;
  }
}
/*-------------CONTENIDO SECUNDARIO PAGE SERVICE: FOTO FINAL VERSION MOBILE Y DESKTOP----------------*/
.imagen_final-logo {
  display: block;
  text-align: center;
}

.imagen_final-logo img {
  width: 130px;
  height: 100px;
}

@media (min-width: 1200px) {
  .imagen_final-logo {
    margin: 20px 0 20px 0;
  }
  .imagen_final-logo img {
    width: 180px;
    height: 150px;
  }
}
/* Variables page Reservations */
/*-------------------VERSION MOBILE Y DESKTOP"PAGE RESERVATIONS"----------------------*/
/*-------------------VERSION MOBILE Y DESKTOP TITULO PRINCIPAL Y OPCIONES DE BUSQUEDA PAGE RESERVATIONS------------------*/
.titulo_principal-reservations {
  text-align: center;
  margin: 150px 0 0 0;
}

.titulo_principal-reservations h2 {
  font-size: 25px;
  font-style: italic;
  color: #829c72;
  font-family: "Raleway", sans-serif;
}

.titulo_principal-reservations hr {
  margin: 0 40px 0 40px;
  color: rgba(118, 143, 103, 0.7254901961);
}

.inputs_reservations {
  display: block;
  text-align: center;
  margin: 35px 0 0 0;
  font-family: "Raleway", sans-serif;
}

.inputs_reservations select {
  padding: 7px 25px 7px 25px;
  text-align: center;
  width: 240px;
  margin: 5px 0 0 0;
  background-color: white;
  color: black;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 2px;
}

.inputs_reservations option {
  text-align: center;
}

.inputs_reservations input {
  margin: 23px 0 0 0;
  padding: 5px 50px 5px 50px;
  text-align: center;
  width: 240px;
  background-color: white;
  color: black;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 2px;
}

.inputs_reservations hr {
  margin: 40px 25px 0 25px;
  color: rgba(118, 143, 103, 0.7254901961);
}

.inputs_reservations a {
  position: relative;
  bottom: 13px;
  padding: 6px 50px 6px 50px;
  font-size: 18px;
  background: rgb(119, 146, 113);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(255, 255, 255);
  font-style: italic;
  border-radius: 5px;
  color: #000;
  color: white;
}

.inputs_reservations a:hover {
  background-color: #6e8b5d;
  color: white;
}

@media (min-width: 1200px) {
  .titulo_principal-reservations {
    margin: 150px 0 0 0;
  }
  .titulo_principal-reservations hr {
    margin: 20px 110px 0 110px;
  }
  .inputs_reservations {
    display: flex;
    padding: 20px 0 20px 0;
    justify-content: center;
    align-items: center;
  }
  .inputs_reservations select {
    margin: 0 15px 0 15px;
    padding: 10px 35px 10px 35px;
    font-size: 18px;
  }
  .inputs_reservations input {
    margin: 0 15px 0 15px;
    padding: 9px 60px 8px 60px;
    font-size: 18px;
  }
  .inputs_reservations hr {
    margin: 60px 20px 0 20px;
  }
  .inputs_reservations a {
    text-align: center;
    padding: 6px 90px 6px 90px;
    font-size: 18px;
  }
}
/*-------------------VERSION MOBILE Y DESKTOP ETIQUETAS DE OPCIONES DE BUSQUEDA PAGE RESERVATIONS------------------*/
.contenedor_etiqueta_reservation {
  background: linear-gradient(180deg, rgb(255, 255, 255) 3%, rgba(204, 234, 186, 0.7329306723) 8%, rgba(199, 232, 179, 0.5172443978) 72%, rgb(255, 255, 255) 86%);
  padding: 10px 0 10px 0;
  margin: 70px 0 0 0;
  font-family: "Raleway", sans-serif;
}

.contenedor_etiqueta_reservation h3 {
  border-style: double;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  margin: 20px 100px 0 8px;
  padding: 0 0 7px 20px;
  font-weight: 300;
  font-style: italic;
  color: #4a5842;
}

.contenedor_etiqueta_reservation-elementos {
  background-color: white;
  display: flex;
  width: 90%;
  height: 166px;
  margin: 20px 0 35px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 5px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.contenedor_etiqueta_reservation-elementos h4 {
  padding: 8px 0 0 10px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

.contenedor_etiqueta_reservation-elementos img {
  height: 110px;
  width: 170px;
  margin: 0 0 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.contenido_etiqueta_subelementos {
  border-left: 1px solid #000;
  margin: 32px 0 25px 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contenido_etiqueta_subelementos h5 {
  font-size: 13px;
  padding: 0 0 0 5px;
  margin: 6px 0 0 0;
}

.contenido_etiqueta_subelementos a {
  font-size: 13px;
  padding: 0 0 0 5px;
  color: #000;
}

.contenido_etiqueta_subelementos a:hover {
  background-color: #6e8b5d;
  color: white;
}

.contenido_etiqueta_subelementos p {
  text-align: end;
  margin: 14px 10px 5px 0;
  color: #829c72;
}

#subelemento-boton {
  text-align: center;
  border: 1px solid rgb(105, 105, 105);
  padding: 5px 0 5px 0px;
  max-width: 60%;
  margin: 0 30px 0 30px;
  border-radius: 5px;
  background: radial-gradient(circle, rgb(194, 228, 198) 15%, rgb(194, 228, 198) 41%, rgb(156, 227, 153) 96%);
}

@media (min-width: 1200px) {
  .contenedor_etiqueta_reservation h3 {
    margin: 20px 800px 0 20px;
    padding: 0 0 7px 30px;
    font-size: 24px;
  }
  .contenedor_etiqueta_reservation-elementos {
    height: 200px;
  }
  .contenedor_etiqueta_reservation-elementos h4 {
    position: relative;
    font-size: 24px;
    left: 260px;
    top: 5px;
  }
  .contenedor_etiqueta_reservation-elementos img {
    height: 170px;
    width: 240px;
    margin: 0 0 0 10px;
    position: relative;
    bottom: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  .contenido_etiqueta_subelementos h5 {
    padding: 15px 0 0 10px;
    font-size: 16px;
  }
  .contenido_etiqueta_subelementos a {
    font-size: 19px;
    padding: 15px 0 0 10px;
  }
  .contenido_etiqueta_subelementos p {
    text-align: end;
    margin: 0 10px 0px 0;
    font-size: 24px;
  }
}
/* Variables para fuentes*/
/* Variables para colores*/
/* Variables para colores de fondo*/
/*-------------------VERSION MOBILE Y DESKTOP "PAGE CONTACT US"----------------------*/
/*-----------------TITULO PRINCIPAL DESKTOP Y MOBILE CONTACT US------------------*/
.titulo_principal-contactus {
  text-align: center;
  margin: 150px 0 0 0;
}

.titulo_principal-contactus h2 {
  font-size: 25px;
  font-style: italic;
  color: #829c72;
  font-family: "Raleway", sans-serif;
}

.titulo_principal-contactus hr {
  margin: 0 60px 40px 60px;
  color: rgba(118, 143, 103, 0.7254901961);
}

@media (min-width: 1200px) {
  .titulo_principal-contactus {
    margin: 150px 0 0 0;
  }
  .titulo_principal-contactus hr {
    margin: 0 400px 40px 400px;
  }
  .flexbox-contactus {
    display: flex;
  }
}
/*----------------SECCION DE INFORMACION MOBILE Y DESKTOP CONTACT US---------------*/
.section-informacion {
  width: 100%;
  height: 110px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 6%, rgba(199, 232, 179, 0.91) 17%, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0.95) 95%);
  text-align: start;
  margin: 0 0 50px 0;
}

.contenedor-informacion-contactus {
  position: relative;
  bottom: 10px;
  background-color: rgba(166, 199, 146, 0.78);
  padding: 20px 0px 0 10px;
  margin: 0 20px 0 20px;
  height: 130px;
  border-radius: 5px;
  border-top-left-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
}

.contenedor-informacion-contactus p {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 300;
  color: white;
}

@media (min-width: 1200px) {
  .section-informacion {
    width: 75%;
    margin: 80px 0 50px 0;
    height: 200px;
  }
  .contenedor-informacion-contactus {
    margin: 30px 20px 0 20px;
    height: 200px;
    padding: 40px 0px 0 10px;
  }
  .contenedor-informacion-contactus p {
    font-size: 17px;
  }
}
/*----------------SECCION DE MAPA MOBILE Y DESKTOP CONTACT US---------------*/
.contenedor_mapa-contactus hr {
  margin: 30px 50px 0 50px;
  color: #829c72;
}

#mapa-contactus-desktop {
  display: none;
}

@media (min-width: 1200px) {
  #mapa-contactus-desktop {
    display: inline-block;
    margin: 0 0 60px 0;
  }
  #mapa-contactus-mobile {
    display: none;
  }
}
/*----------------SECCION DE FORMULARIO MOBILE Y DESKTOP CONTACT US---------------*/
.section-formulario {
  height: 300px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 6%, rgba(199, 232, 179, 0.91) 17%, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0.95) 95%);
  margin: 70px 0 85px 0;
}

.contenedor-formulario-contactus {
  display: block;
  position: relative;
  bottom: 40px;
  height: 420px;
  background-color: rgba(166, 199, 146, 0.78);
  margin: 0 20px 0 20px;
  border-radius: 5px;
  border-top-left-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
}

.contenedor-formulario-contactus h3 {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  padding: 20px 0 0 0;
  color: white;
}

.contenedor-formulario-contactus label {
  width: 100%;
  padding: 17px 0px 0 10px;
  font-weight: 300;
  font-size: 14px;
  color: white;
}

.contenedor-formulario-contactus input {
  width: 80%;
  margin: 0 0 0 10px;
  border: transparent;
  padding: 5px 0 5px 0;
  font-size: 14px;
  font-style: italic;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#message-input {
  padding: 0 0 20px 0;
}

#submit-input {
  margin: 15px 0 0 10px;
  border-radius: 4px;
  background: rgb(119, 146, 113);
  border: 1px solid white;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#submit-input:hover {
  background-color: #98c081;
  color: rgb(53, 68, 49);
}

@media (min-width: 1200px) {
  .section-formulario {
    width: 75%;
    margin: 70px 0 50px 0;
  }
  .contenedor_mapa-contactus hr {
    display: none;
  }
}
/*fotofondo*/
.imagen_final-logo-mobile {
  display: block;
  text-align: center;
}

.imagen_final-logo-desktop {
  display: none;
}

.imagen_final-logo-mobile img {
  width: 130px;
  height: 100px;
}

@media (min-width: 1200px) {
  .imagen_final-logo-mobile img {
    width: 200px;
    height: 170px;
  }
}

/*# sourceMappingURL=styles.css.map */
