
/*-------------------CONTACT US: Titulo principal / version: TABLET MOBILE Y DESKTOP----------------------*/

.titulo_principal-contactus {
    text-align: center;
    margin: 150px 0 0 0;

    & h2 {
        font-size: 25px;
        font-style: italic;
        color: $color-titulos;
        font-family: $font-raleway;
        opacity: 0;
        animation: aparecer 1s forwards;
    }

    & hr {
        margin: 0 60px 40px 60px;
        color: #768f67b9;
    }
}

@keyframes aparecer {
    to {
    opacity: 1;
    }
}

@media (min-width: 1200px) {
    .titulo_principal-contactus {
        margin: 150px 0 0 0;
    }

    .titulo_principal-contactus hr {
        margin: 0 400px 40px 400px;
    }

    .flexbox-contactus {
        display: flex;
    }
}

/*-------------------CONTACT US: Informacion / version: TABLET MOBILE Y DESKTOP----------------------*/

.section-informacion {
    width: 100%;
    height: 110px;
    background: linear-gradient(180deg, $color-bg-gradient-from 6%, $color-bg-info-from 17%, $color-bg-info-to 80%, $color-bg-gradient-to 95%);
    text-align: start;
    margin: 0 0 50px 0;
}

.contenedor-informacion-contactus {
    position: relative;
    bottom: 10px;
    background-color: rgba(166, 199, 146, 0.78);
    padding: 20px 0px 0 10px;
    margin: 0 20px 0 20px;
    height: 130px;
    border-radius: 5px;
    border-top-left-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: $font-raleway;

    & p {
        font-size: 14px;
        margin-bottom: 8px;
        font-weight: 300;
        color: $color-white;
    }
}

@media (min-width: 1200px) {
    .section-informacion {
        width: 75%;
        margin: 80px 0 50px 0;
        height: 200px;
    }

    .contenedor-informacion-contactus {
        margin: 30px 20px 0 20px;
        height: 200px;
        padding: 50px 0px 0 10px;
    }

    .contenedor-informacion-contactus p {
        font-size: 17px;
    }
}

/*-------------------CONTACT US: Ubicacion mapa / version: TABLET MOBILE Y DESKTOP----------------------*/

.contenedor_mapa-contactus hr {
    margin: 30px 50px 0 50px;
    color: $color-titulos;
}

#mapa-contactus-desktop {
    display: none;
}

@media (min-width: 1200px) {
    #mapa-contactus-desktop {
        display: inline-block;
        margin: 30px 0 60px 0;
        height: 430px;
    }

    #mapa-contactus-mobile {
        display: none;
    }
}

/*-------------------CONTACT US: Formulario / version: TABLET MOBILE Y DESKTOP----------------------*/

.section-formulario {
    height: 300px;
    background: linear-gradient(180deg, $color-bg-gradient-from 6%, $color-bg-form-from 17%, $color-bg-form-to 80%, $color-bg-gradient-to 95%);
    margin: 70px 0 85px 0;
}

.contenedor-formulario-contactus {
    display: block;
    position: relative;
    bottom: 40px;
    height: 420px;
    background-color: rgba(166, 199, 146, 0.78);
    margin: 0 20px 0 20px;
    border-radius: 5px;
    border-top-left-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: $font-raleway;

    & h3 {
        text-align: center;
        font-weight: 300;
        font-style: italic;
        padding: 20px 0 0 0;
        color: $color-white;
    }

    & label {
        width: 100%;
        padding: 17px 0px 0 10px;
        font-weight: 300;
        font-size: 14px;
        color: $color-white;
    }

    & input {
        width: 80%;
        margin: 0 0 0 10px;
        border: transparent;
        padding: 5px 0 5px 0;
        font-size: 14px;
        font-style: italic;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}

#message-input {
    padding: 0 0 20px 0;
}

#submit-input {
    margin: 15px 0 0 10px;
    border-radius: 4px;
    background: rgb(119, 146, 113);
    border: 1px solid $color-white;
    color: $color-white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    &:hover {
        background-color: $color-submit-hover;
        color: $color-info-text;
    }
}

@media (min-width: 768px) {
    .contenedor-formulario-contactus input {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .section-formulario {
        width: 75%;
        margin: 70px 0 50px 0;
    }

    .contenedor_mapa-contactus hr {
        display: none;
    }
}

/*fotofondo*/

.imagen_final-logo-mobile {
    display: block;
    text-align: center;

    & img {
        width: 130px;
        height: 100px;
    }
}

.imagen_final-logo-desktop {
    display: none;
}

@media (min-width: 1200px) {
    .imagen_final-logo-mobile img {
        width: 200px;
        height: 170px;
    }
}