/* Colores */
$color-fotodeportada-bg: rgba(163, 233, 145, 0.527);
$color-boton-detalles-bg: #ffffff;
$color-boton-detalles-hover: #658155e1;
$color-active-indicator: #d5ffbc;
$color-hr-index: rgba(97, 136, 87, 0.466);
$sombras-hr-index: 0 4px 8px rgba(0, 0, 0, 0.5);

$primaryColor: rgba(120, 173, 126, 0.644);
$secondaryColor: rgb(156, 227, 153);
$gradientStart: rgba(255, 255, 255, 1);
$gradientMiddle: rgba(221, 221, 221, 1);
$gradientEnd: rgba(204, 231, 189, 1);

$font-raleway: 'Raleway', sans-serif;
/*-------------------INDEX PORTADA Y RESERVAS MAIN MOBILE Y DESKTOP----------------------*/

.sec-main__fotodeportada {
  background-image: url(../img/exterior.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

.sec-main__fotodeportada h2 {
  text-align: center;
  padding-top: 9rem;
  font-size: 30px;
  font-weight: 400;
  font-family: $font-raleway;
  color: #ffffff;
}

.sec-main__reservas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 10px;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 30px;
  background-color: $color-fotodeportada-bg;
  margin: 0 2rem 0 2rem;
  padding: 6px 0 6px 0;
  border-radius: 4px;
  font-family: $font-raleway;
}

.sec-main__reservas input {
  margin: 0 10px 0 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: black;
}

.sec-main__reservas input:hover {
  border: 1px solid rgba(65, 94, 58, 0.788);
}

.reservas__botonubicacion {
  display: flex;
  justify-content: center;
  font-size: 11px;
  align-items: center;
}

.gridbotonreservar {
  display: grid;
  grid-column: span 2;
  margin: 4px 0 0 0;
}

.botonreservarubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 0 0;
}

.sec-main__reservas a {
  padding: 4px 60px 4px 60px;
  border-radius: 4px;
  border: 1px solid rgb(228, 227, 227);
  background-color: $color-boton-detalles-bg;
  font-size: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
}

.sec-main__reservas a:hover {
  color: rgba(110, 158, 98, 0.884);
  border: 1px solid rgba(65, 94, 58, 0.788);
}

@media (min-width: 1200px) {
  .sec-main__fotodeportada {
    height: 96vh;
  }

  .sec-main__fotodeportada h2 {
    padding-top: 22rem;
    font-size: 70px;
    font-style: italic;
  }

  .sec-main__reservas {
    display: flex;
    padding: 25px 0 25px 0;
    justify-content: space-around;
    align-items: center;
    bottom: 32px;
    margin: 0 1.5rem 0 1.5rem;
  }

  .sec-main__reservas input {
    margin: 0 35px 0 25px;
    padding: 10px 70px 10px 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 15px;
  }

  .reservas__botonubicacion {
    font-size: 15px;
    margin: 3px 0 0 80px;
  }

  .gridbotonreservar {
    display: flex;
  }

  .botonreservarubicacion {
    margin: 0 80px 0 0;
  }

  .sec-main__reservas a {
    padding: 10px 90px 10px 90px;
    border-radius: 4px;
    border: 1px solid rgb(228, 227, 227);
    background-color: $color-boton-detalles-bg;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sec-main__reservas a:hover {
    color: $color-boton-detalles-hover;
  }
}

@media (min-width:1800px) {
  .sec-main__reservas {
    padding: 25px 0 25px 0;
    bottom: 32px;
    margin: 0 8rem 0 8rem;
  }

  .sec-main__reservas label {
    font-size: 17px;
  }

  .sec-main__reservas input {
    font-size: 17px;
    padding: 10px 100px 10px 100px;
  }

  .sec-main__reservas a {
    font-size: 17px;
    padding: 10px 100px 10px 100px;
  }
}

/*-------------------------ROOM MAIN INDEX MOBILE Y DESKTOP----------------------------*/

.titulo-secundario-room h3 {
  display: block;
  margin: 20px 0 0 25px;
  font-style: italic;
  font-weight: 300;
  font-family: $font-raleway;
}

.titulo-secundario-room hr {
  display: block;
  margin: 10px 90px 20px 15px;
  color: $color-hr-index;
  box-shadow: $sombras-hr-index;
}

.seccionroomsdesktop {
  display: none;
}

.carousel-indicators .active {
  background-color: $color-active-indicator;
}

@media (min-width: 1200px) {
  .titulo-secundario-room h3 {
    font-size: 35px;
    margin: 50px 40px 5px 40px;
    text-align: center;
  }

  .titulo-secundario-room hr {
    display: block;
    margin: 10px 90px 20px 90px;
  }

  .seccionrooms {
    display: none;
  }

  .seccionroomsdesktop {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 60px 0 0 0;
  }

  .rooms-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  .rooms-details img {
    height: 230px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
  }
}

@media (min-width: 1600px) {
  .rooms-details img {
    height: 300px;
    width: 450px;
  }
}

/*------------------SERVICES MAIN MOBILE Y DESKTOP-------------------*/

.titulo-secunadario-service h3 {
    display: block;
    text-align: center;
    margin: 80px 0 0 0;
    font-style: italic;
    font-weight: 300;
    font-family: $font-raleway;
    padding: 20px 0 0 0;
}

.titulo-secunadario-service {
    display: block;
    text-align: center;
    margin: 9px 0 0px 0;
    color: black;
    background-color: rgba(110, 161, 97, 0.199);
}

.contenedorserv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 45px;
    background-color: rgba(110, 161, 97, 0.199);
    padding: 30px 0 50px 0;
    margin: 0 0 90px 0;
}

.imgserimg {
    display: grid;
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
}

.posimg {
    display: grid;
    justify-items: end;
}

@media (min-width: 1200px) {
    .titulo-secunadario-service h3 {
        margin: 130px 0 0 0;
        font-size: 35px;
        padding: 50px 0 0 0;
    }

    #servhr1 {
      display: none;
    }

    .contenedorserv {
        row-gap: 40px;
        margin: 0 0 0 0;
        column-gap: 150px;
        background-color: rgba(110, 161, 97, 0.199);
        padding: 50px 0 70px 0;
    }

    .imgserimg {
        max-width: 400px;
        height: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }
}

/*---------------UBICACION MAIN MOBILE Y DESKTOP----------------------*/

.titulo-secundario-ubicacion h3 {
    display: block;
    border: 1px solid transparent;
    padding: 10px 0 6px 0;
    background-color: rgba(110, 161, 97, 0.473);
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-style: italic;
    font-family: $font-raleway;
}

@media (min-width: 1200px) {
    .titulo-secundario-ubicacion {
        display: flex;
        justify-content: center;
        margin: 150px 0 0 0;
    }

    .contenedor-h3-ubicacion {
        width: 60%;
    }

    .titulo-secundario-ubicacion h3 {
        border: 1px solid transparent;
        padding: 50px 0 50px 0;
        width: 100%;
        background-color: rgba(110, 161, 97, 0.473);;
        font-size: 25px;
        font-style: italic;
        font-weight: 300;
        text-align: center;
        line-height: 5;
        margin: 0 30rem 0 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        border-radius: 4px;
    }

    .titulo-secundario-ubicacion iframe {
        display: flex;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        position: relative;
        width: 550px;
        height: 250px;
        right: 5px;
        bottom: 8px;
    }
}
/* ----------------REVIEWS MAIN MOBILE Y DESKTOP----------------------*/

#hrrev {
    display: block;
    margin: 90px 40px 0 40px;
    text-align: center;
    color: $color-hr-index;
    box-shadow: $sombras-hr-index;
}

.reviews h3 {
    display: none;
    font-family: $font-raleway;
}

.reviews h4 {
  display: block;
  text-align: center;
  position: relative;
  bottom: 26px;
  font-size: 40px;
  color:#79a062e0
}

.flexreview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rev {
    border: 1px solid rgb(129, 129, 129);
    padding: 1rem;
    margin: 30px 50px 40px 50px ;
    border-radius: 5px;
    max-width: 320px;
    font-family: $font-raleway;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 340px;
    background-color: #ffffff6c;
}

.rev h5 {
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgb(37, 37, 37);
    font-style: italic;
    padding: 20px 0 0 0;
}

.rev p {
    font-size: 13px;
    padding: 8px 10px 0 10px;
    text-align: center;
}

#pstar {
    text-align: center;
    font-size: 30px;
    color: #a7ca93;
    padding: 0;
}

@media (min-width: 1200px) {
    .reviews h3 {
        display: block;
        text-align: center;
        margin: 140px 0 0 0;
        font-size: 35px;
        font-weight: 300;
    }

    .reviews h4 {
      display: none;
    }

    .flexreview {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rev {
        padding: 2rem;
        max-width: 450px;
        height: 410px;
        margin: 60px 50px 80px 50px ;
    }
    
    .rev h5 {
        display: block;
        text-align: center;
        font-size: 22px;
        color: rgb(37, 37, 37);
        font-style: italic;
        padding: 20px 0 0 0;
    }
    
    #pstar {
        text-align: center;
        font-size: 50px;
        color: #a7ca93;
        padding: 0;
    }
    
    .rev p {
        font-size: 16px;
        padding: 8px 10px 0 10px;
        text-align: center;
    }
}

/*-------------------ABOUT US MAIN MOBILE Y DESKTOP--------------------*/

.titulo-secundario-aboutus h3 {
    display: block;
    margin: 20px 0 0 25px;
    font-style: italic;
    font-weight: 300;
    font-family: $font-raleway;
}

.titulo-secundario-aboutus hr {
    display: block;
    margin: 7px 90px 10px 15px;
    color: $color-hr-index;
    box-shadow: $sombras-hr-index;
}

.aboutusconteiner {
    display: block;
    background-color: rgba(110, 161, 97, 0.473);
    border: 1px solid rgba(198, 198, 198, 0);
    padding: 25px ;
    margin: 50px 0 0 0 ;
    height: 150px;
}

.aboutusconteiner p{
    display: none
}

.video-aboutus iframe {
    position: relative;
    bottom: 200px;
    padding: 30px;
}

#abouthr2 {
    display: block;
    margin: -160px 5px 0 110px;
    color: transparent;
    box-shadow: none;
}

@media (min-width: 1200px) {
    .aboutusconteiner {
        padding: 90px ;
        margin: 150px 0 0 0 ;
        height: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    }

    .aboutusconteiner p{
        display: block;
        text-align: right;
        font-size: 25px;
        font-weight: 300;
        font-family: $font-raleway ;
        font-style: italic;
        color: white;
        width: 90%;
    }

    .titulo-secundario-aboutus h3 {
        margin: 100px 0 0 70px;
        font-size: 35px;
    }

    .video-aboutus {
        width: 50%;
        
    }

    .video-aboutus iframe {
        position: relative;
        bottom: 320px;
        padding: 30px;
        left: 90px;
        height: 400px;
    }

    #abouthr2 {
        margin: -300px 5px 150px 110px;
        color: $color-hr-index;
        box-shadow: $sombras-hr-index;
    }
}

@media (min-width: 1800px) {
  .video-aboutus {
    width: 40%;
  }

  .video-aboutus iframe {
    position: relative;
    bottom: 320px;
    padding: 30px;
    left: 300px;
    height: 400px;
  }

  .aboutusconteiner p{
    width: 80%;
  }

  .titulo-secundario-aboutus h3 {
    margin: 100px 0 0 100px;
}
}
