/* Variables */

$font-size-small: 13px;
$font-size-medium: 18px;
$font-size-large: 24px;
$color-primary: #829c72;
$color-secondary: #6e8b5d;

$font-raleway: 'Raleway', sans-serif;


/*-------------------RESERVATIONS: Titulo principal y elementos de busqueda / version: TABLET MOBILE Y DESKTOP----------------------*/

.titulo_principal-reservations {
  text-align: center;
  margin: 150px 0 0 0;

  & h2 {
    font-size: 25px;
    font-style: italic;
    color: $color-primary;
    font-family: $font-raleway;
    opacity: 0;
    animation: aparecer 1s forwards;
  }

  & hr {
    margin: 0 40px 0 40px;
    color: #768f67b9;
  }
}

@keyframes aparecer {
  to {
    opacity: 1;
  }
}

.inputs_reservations {
  display: block;
  text-align: center;
  margin: 35px 0 0 0;
  font-family: $font-raleway;

  & select {
    padding: 7px 25px 7px 25px;
    text-align: center;
    width: 240px;
    margin: 5px 0 0 0;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(168, 168, 168);
    border-radius: 2px;
  }

  & option {
    text-align: center;
  }

  & input {
    margin: 23px 0 0 0;
    padding: 7px 50px 7px 50px;
    text-align: center;
    width: 240px;
    background-color: white;
    color: black;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 2px;
  }

  & hr {
    margin: 40px 25px 0 25px;
    color: #768f67b9;
  }

  & a {
    position: relative;
    bottom: 13px;
    padding: 6px 50px 6px 50px;
    font-size: $font-size-medium;
    background: rgb(119, 146, 113);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(255, 255, 255);
    font-style: italic;
    border-radius: 5px;
    color: white;

    &:hover {
      background-color: $color-secondary;
      color: white;
    }
  }
}

@media (min-width: 1200px) {
  .titulo_principal-reservations {
    margin: 150px 0 0 0;
  }

  .titulo_principal-reservations hr {
    margin: 20px 110px 0 110px;
  }

  .inputs_reservations {
    display: flex;
    padding: 20px 0 20px 0;
    justify-content: center;
    align-items: center;
  }

  .inputs_reservations select {
    margin: 0 15px 0 15px;
    padding: 10px 35px 10px 35px;
    font-size: $font-size-medium;
    transition: transform 0.3s ease;
  }

  .inputs_reservations select:hover {
    transform: scale(1.1);
  }

  .inputs_reservations input {
    margin: 0 15px 0 15px;
    padding: 9px 60px 8px 60px;
    font-size: $font-size-medium;
    transition: transform 0.3s ease;
  }

  .inputs_reservations input:hover {
    transform: scale(1.1);
  }

  .inputs_reservations hr {
    margin: 60px 20px 0 20px;
  }

  .inputs_reservations a {
    text-align: center;
    padding: 6px 90px 6px 90px;
    font-size: $font-size-medium;
  }
}

/*-------------------RESERVATIONS: Etiquetas de resultaod de busqueda con elementos / version: TABLET MOBILE Y DESKTOP----------------------*/

.contenedor_etiqueta_reservation {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 3%, rgba(204, 234, 186, 0.7329306722689075) 8%, rgba(199, 232, 179, 0.5172443977591037) 72%, rgba(255, 255, 255, 1) 86%);
  padding: 10px 0 10px 0;
  margin: 70px 0 0 0;
  font-family: $font-raleway;

  & h3 {
    border-style: double;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin: 20px 100px 0 8px;
    padding: 0 0 7px 20px;
    font-weight: 300;
    font-style: italic;
    $font-size-subtitle: 21px;
    color: #4a5842;
  }
}

.contenedor_etiqueta_reservation-elementos {
  background-color: white;
  display: flex;
  width: 90%;
  height: 166px;
  margin: 20px 0 35px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 5px;
  border-top-right-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  & h4 {
    padding: 8px 0 0 10px;
    font-size: $font-size-medium;
    font-weight: 400;
    font-style: italic;
    color: rgb(96, 117, 91);
  }

  & img {
    height: 110px;
    width: 170px;
    margin: 0 0 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  }

.contenido_etiqueta_subelementos {
  border-left: 1px solid black;
  margin: 32px 0 25px 10px;
  display: flex;
  flex-direction: column;
  width: 100%;

  & h5 {
    font-size: $font-size-small;
    padding: 0 0 0 5px;
    margin: 6px 0 0 0;
    color: black;
  }

  & a {
    font-size: $font-size-small;
    padding: 0 20px 0 5px;
    color: rgb(119, 146, 113);
    margin: 0;
    width: 70%;

    &:hover {
      color: rgb(0, 0, 0);
    }
  }

  & p {
    text-align: end;
    margin: 14px 10px 5px 0;
    color: $color-primary;
  }
}

#subelemento-boton {
  text-align: center;
  border: 1px solid white;
  padding: 5px 0 5px 0px;
  max-width: 60%;
  margin: 0 30px 0 30px;
  border-radius: 5px;
  background: rgb(119, 146, 113);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;

  &:hover {
    background-color: $color-secondary;
    color: white;
  }
}

@media(min-width:768px) {
  .contenedor_etiqueta_reservation-elementos {
    height: 166px;
    margin: 15px 0 25px 40px;
    width: 87%;
  }
}

@media (min-width: 1200px) {
  .contenedor_etiqueta_reservation h3 {
    margin: 20px 800px 0 20px;
    padding: 0 0 7px 30px;
    font-size: $font-size-large;
  }

  .contenedor_etiqueta_reservation-elementos {
    height: 200px;
    margin: 15px 0 25px 65px;
    width: 88%;
  }

  .contenedor_etiqueta_reservation-elementos h4 {
    position: relative;
    font-size: $font-size-large;
    left: 260px;
    top: 5px;
  }

  .contenedor_etiqueta_reservation-elementos img {
    height: 170px;
    width: 240px;
    margin: 0 0 0 10px;
    position: relative;
    bottom: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }

  .contenido_etiqueta_subelementos h5 {
    padding: 15px 0 0 10px;
    font-size: 16px;
  }

  .contenido_etiqueta_subelementos a {
    font-size: 19px;
    padding: 15px 0 0 10px;
  }

  .contenido_etiqueta_subelementos p {
    text-align: end;
    margin: 0 10px 0px 0;
    font-size: $font-size-large;
  }
}

@media(min-width:1800px) {
  .contenedor_etiqueta_reservation-elementos {
    height: 200px;
    margin: 20px 0 35px 90px;
    width: 85%;
  }
}