/* Variables page room*/
$font-size-title: 25px;
$font-size-selector: 16px;
$color-primary: #829c72;
$color-secondary: #000;
$background-gradient-start: rgba(255, 255, 255, 1);
$background-gradient-mid: rgba(208, 226, 201, 1);
$background-gradient-end: rgba(255, 255, 255, 1);

$font-raleway: 'Raleway', sans-serif;

input {
  padding: 0;
}
/*-------------------VERSION MOBILE Y DESKTOP "PAGE ROOM" MAIN--------------------*/

.titulo-principa-opciones-de-habitacion h2 {
  display: block;
  text-align: center;
  font-style: italic;
  margin: 150px 30px 15px 30px;
  color: $color-primary; 
  font-size: $font-size-title; 
  border-bottom: 2px solid #829c72;
  border-radius: 5px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  padding: 0 0 5px 0;
  font-family: $font-raleway;
}

.input_selectorhabitacion {
  display:block;
  text-align: center;
  margin: 30px 0 0 0;
}

#input_selectordetalles {
  padding: 7px 30px 7px 30px;
  text-align: center; 
  border-radius: 2px;
  font-size: $font-size-selector;
  font-family: $font-raleway;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.input_opciones-ubicacion {
  text-align: start;
}

.contenedor_imagenes-room {
  text-align: center;
  border: 1px solid transparent;
  padding: 30px 0 30px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  border-radius: 4px;
  background: linear-gradient(180deg, $background-gradient-start 11%, $background-gradient-mid 46%, $background-gradient-mid 53%, $background-gradient-end 84%); /* Usamos las variables para los colores de fondo */
}

.contenedor_imagenes-room img {
  width: 300px;
  height: 216px;
  padding: 4px;
  border: 1px solid transparent;
  margin: 10px 0 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagenes-room_detalles2 {
  display: none;
}

@media (min-width: 1200px) {
  .titulo-principa-opciones-de-habitacion h2 {
    margin: 150px 500px 0 500px;
    padding: 0 0 5px 0;
  }

  .input_selectorhabitacion {
    margin: 30px 0 0 0;
  }

  #input_selectordetalles {
    padding: 10px 35px 10px 35px;
  }

  .imagenes-room_detalles2 {
    display: inline-block;
    max-width: 300px;
    max-height: 216px;
    padding: 4px;
    border: 1px solid transparent;
    margin: 10px 0 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .contenedor_imagenes-room {
    width: 1000px;
  }
}