/* COLORES REPETIDOS*/

$color-white: white;
$color-black: black;
$color-titulos: #829c72;

/* COLORES P:INDEX */

$color-fotodeportada-bg: rgba(163, 233, 145, 0.527);
$color-boton-detalles-hover: #658155e1;
$color-active-indicator: #d5ffbc;
$color-hr-index: rgba(97, 136, 87, 0.466);
$sombras-hr-index: 0 4px 8px rgba(0, 0, 0, 0.5);

/* COLORES P:ROOMS */

$background-gradient-start: rgba(255, 255, 255, 1);
$background-gradient-mid: rgba(208, 226, 201, 1);
$background-gradient-end: rgba(255, 255, 255, 1);

/* COLORES P:SERVICES */

$secondary-color: #768f67b9;
$background-color-1: rgba(255,255,255,0.7805497198879552);
$background-color-2: rgba(199,232,179,0.6825105042016807);
$background-color-3: rgba(199,232,179,0.5256477591036415);
$background-color-4: rgba(255,255,255,0.7861519607843137);

/* COLORES P:RESERVATIONS */

$color-secondary: #6e8b5d;

/* COLORES P:CONTACT US */

$color-info-text: rgb(53, 68, 49);
$color-submit-hover: #98c081;


$color-bg-gradient-from: rgba(255, 255, 255, 1);
$color-bg-gradient-to: rgba(255, 255, 255, 0.95);
$color-bg-info-from: rgba(199, 232, 179, 0.91);
$color-bg-info-to: rgba(255, 255, 255, 1);
$color-bg-form-from: rgba(199, 232, 179, 0.91);
$color-bg-form-to: rgba(255, 255, 255, 1);




