// Variables
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 18px;
$padding-small: 8px;
$padding-large: 20px;
$image-width-small: 30%;
$image-width-large: 25%;

$font-raleway: 'Raleway', sans-serif;

// Styles
footer {
  display: grid;
  margin: 0px 0 10px 0;
  background: rgba(110, 161, 97, 0.473);
  width: 100%;
  padding: $padding-small;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  font-family: $font-raleway;
  

  h4 {
    display: grid;
    font-size: $font-size-small;
    margin: 0 0 5px 30px;
    width: 100px;
    font-weight: 500;

    @media (min-width:768px) {
      font-size: 17px ;
      width: 120px;
    }
  }

  ul {
    display: grid;
    font-size: $font-size-small;
    font-style: italic;

    @media (min-width:768px) {
      font-size: 14px ;
      
    }
  }

  &.footer_contactos {
    display: grid;
    margin: 20px 0 0 0;
    align-self: center;
  }

  &.footer_redessociales {
    display: grid;
    justify-self: start;
  }

  img {
    width: $image-width-small;
    position: relative;
    left: 65px;
    top: 10px;

  @media (min-width:688px) {
    top: -20px
  }
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: $padding-large 20px $padding-large 80px;
    font-weight: 300;

    h4 {
      display: flex;
      font-size: $font-size-large;
      width: 95%;
      font-weight: bolder;
      font-style: italic;
    }

    ul {
      display: inline-block;
      font-size: $font-size-medium;
    }

    &.footer_contactos {
      align-self: flex-start;
      margin: 0 0 0 60px;
    }

    &.footer_redessociales {
      display: inline-block;
      margin: 0 0 0 70px;
    }

    img {
      width: $image-width-large;
      position: relative;
      left: 150px;
      top: 10px;
    }
  }

  &.footer_espaciado-elementos {
    margin: 0 30px 0 30px;
  }
}

