// Variables header
$color-header-green: rgb(196,232,191);
$color-header-green-gradient: linear-gradient(180deg, rgba(196,232,191,1) 4%, rgba(162,218,155,1) 32%, rgba(162,218,155,1) 70%, rgba(196,232,191,1) 87%);
$color-white: white;
$color-hover-green: rgb(159, 182, 161);
$font-raleway: 'Raleway', sans-serif;

// Header styles
.header_background-secciones {
  background: rgba(92, 146, 90, 0.801);
  padding: 0px;
}

header {
  position:absolute;
  top: 0;
  width: 100%;
  background: rgba(92, 119, 88, 0.233);
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.582);

  .navbar-toggler {
    padding: 2px;
    border: 1px solid transparent;
  }

  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        color: $color-white;
        font-size: 18px;
        padding: 15px 0 0 0;
        font-family: $font-raleway;

        &:hover {
          color: $color-hover-green;
        }
        @media (min-width: 990px) {
          padding: 0 12px 0 12px;
          margin: 0 10px 0 0;
        }
      }
    }

    .navbar-brand {
      color: $color-white;
      font-size: 20px;
      padding: 0;
      font-family: $font-raleway;

      &:hover {
        color: $color-hover-green;
      }
    }

    @media (min-width:1200px) {
      .navbar-brand {
        padding: 0 0 0 35px;
        font-size: 25px;
      }
    }
  }
}



